<!DOCTYPE html>
	<html>
	<head>
        <title>Courses</title>
        {%load static%}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
        <div class="container">
            <h1>　Add a new course　</h1>
                <div id="adduser">
                    <form action="/courses/create" method='post'>
                    {% csrf_token %}
                    Name:<br>
                    <input type="text" name="name">
                    <br>
                    Description: <br>
                    <textarea rows="4" cols="50" name="des" ></textarea>
                    <input type="submit" value="Create">
                    </form> 
                </div>
                {% if messages %}
                    <ul class="messages">
                {% for message in messages %}
                    <li style="color:red" {%if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                
                <table class="table">
                        <tr class="success">
                            <th>Course Name</th>
                            <th>Description</th>
                            <th>Date Added</th>
                            <th>Action</th>
                        </tr>
                        {% for course in courses %}
                        <tr>
                            <td>{{ course.name }}</td>
                            <td>{{ course.des}}</td>
                            <td>{{ course.created_at}}</td>
                            <td><a href="/courses/delete/{{course.id}}">Delete</a></td>
                        </tr>
                       {% endfor %}  
                </table>
                      
                </div>
        </div>
	</body>
</html>